body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.repositories-list {
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
    margin: 40px;
}

.repository h2 {
    margin-bottom: 10px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.repository {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.repository:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.pagination {
    display: grid;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination a {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
    background-color: black;
    color: white;
}

.pagination a:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.title {
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
}

.name {
    padding-left: 2%;
}

.repository p .language {
    display: inline-block;
    margin-top: 5px;
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid rgb(71, 0, 250);
    border-radius: 5px;
}

.repository p .language:not(:last-child) {
    margin-right: 5px;
}

.repository p strong {
    display: inline-block;
    margin-top: 10px;
}

.profile {
    display: flex;
    flex-direction: row;

    img {
        width: 140px;
        height: 140px;
        cursor: pointer;
        transition: box-shadow 0.3s;
    }

    img:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    span {
        margin-left: 60px;
        margin-top: -10px;
        padding-top: 0px;
        line-height: 0px;
    }

    p {
        display: flex;
        align-items: center;
    }

    .Icon {
        width: 15px;
        height: 15px;
        padding-right: 5px;
    }
}